.App {
  text-align: center;
  background-image: url("./frontend//assets/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 1rem;
}

label {
  color: rgb(2, 1, 1);
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}
